import pylast

API_KEY    = ""
API_SECRET = ""

username = ""
password = pylast.md5("")

network = pylast.LastFMNetwork(api_key = API_KEY, api_secret = 
    API_SECRET, username = username, password_hash = password_hash)
